#gt{
    border-style: solid;
    border-color: black;
    border-right-color: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 3px;
}
 body{
     background-image: url(image_6483441.JPG);
     background-repeat: no-repeat;
 }